<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "jjlum.JPG" %>
  </div>

  <div id="content">
    <h1>Hey this is Josh McLinton!</h1>
    <p>This is one of my first times building a completed app (with the help of a tutorial!)</p>
    <p>Maybe I might actually use this blog for real once I customise it a bit more!</p>
    <p>Catch ya later.</p>
  </div>
</div>
